<div class="container">
  <h1>Practica 3 <span class="appAuthor">por {{title}}</span></h1>

  <!--<router-outlet></router-outlet>-->
  <!--<app-root></app-root>-->
  <!--<app-login></app-login>-->
  <app-home> hols</app-home>
</div>


