/* You can add global styles to this file, and also import other style files */

$gutter:15px;
$brandOrange: #ffce66;
$brandGrey: #d5d5d5;
$brandBlue: #223078;
$bgColor: #f6f8fa;
$brandLightBlue: #55609b;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  //
}

@mixin box-shadow($top: 0, $left:0, $blur:0, $color:0, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin btUOC ($base-color){
  @include rounded();
  //padding: 0.4em 0.8em;
  //border: none;
  border-color: transparent;
  cursor: pointer;
  background-color: darken($base-color,5%);
  &:hover {
    background-color: lighten($base-color,5%);
    outline: none;
  }
  &:focus {
    background-color: darken($base-color,5%);
    outline: none;
  }
}

// ELEMENTS
.btUOC-grey {
  @include btUOC($brandGrey);
}

.btUOC-orange {
  @include btUOC($brandOrange);
}

// TODOLIST
.list-group {
  .list-group-notice {
    color: #a2a2a2;
    background-color: #fff;
    text-align: right;
    font-style: italic;
    padding: $gutter/2 $gutter;
  }
  .list-group-item {
    overflow: auto;
    border-color: #e3e2e9;

    &:nth-child(even) {
      background-color: #f6f7fe;
    }
  }
}

form {
  overflow: auto;
  padding: $gutter;

  background-color: #9bbede;

  .form-group {
    margin-bottom: $gutter;

    &:last-child {
      margin-bottom: 0;
    }

    button {
      width: 10em;
      margin-left: $gutter/2;
    }
  }
}
